$black: #000 !default;

$body-font-family: arial;
$body-text-color: $black;

$body-heading-color: $blue-200;

$link-color: $black;

$sidebar-color: $white;
$nav-child-link-color: $grey-dk-200;

$side-footer-color: $grey-lt-000;