$black: #000 !default;

$body-font-family: sans-serif;
$link-color: $blue-300;
$nav-child-link-color: $blue-300;
$sidebar-color: $grey-dk-000;
$side-footer-color: $grey-lt-000;

$body-text-color: $black;
$body-heading-color: $blue-300;