$black: #000 !default;

$body-font-family: arial;
$link-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-250;

$sidebar-color: $white;
$side-footer-color: $grey-lt-000;

$body-text-color: $black;
$body-heading-color: $blue-300;